.parent {
    display: grid;
    background-color: aqua;
    padding: 40px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.parent div {
    border: 1px solid black;
}

.item1 {
    grid-column: 1/4;
    font-size: 3em;
}

.item2 {
    grid-row: 2/4;
}

.item5 {
    grid-column: 2/4;
}