.container {
    display: flex;
    justify-content: center;
}

.form {
    border: 1px solid lightgray;
    padding: 20px;
}

input {
    width: 600px;
    height: 25px;
    margin: 20px 0;
}

textarea {
    height: 100px;
    width: 600px;
    margin: 20px 0;
}

button {
    background-color: black;
    color: white;
    width: 600px;
    height: 35px;
}